.response {
    margin : 5px;
    background-color: tomato;
    color: white;
}
.form__login {
    width: 80%;
    margin: 10px auto;
    background: #302f2f;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form__group__login {
    margin-bottom: 10px;
  }
  .form__user{
    width: 70%;
    margin: 10px auto;
    background: #272c2d;
    padding: 20px;
    border-radius: 5px;
  }
  .form__group__login label{
    color:#fff;
    font-weight: bold;
  }
  
  .form__group__login input,
  .form__group__login textarea {
    width: 100%;
    background-color: #fff;
    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid #2122454c;
    border-radius: 5px;
  }
  
  .form__group__login input:focus,
  .form__group__login textarea:focus {
    outline: none;
  }
  
  .login__button {
    background-color: #fff;
   
    height: 50px;
    width: 200px;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .register__button {
    
    text-decoration: underline;
    color: #fff;
  }
  .save__button{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 15%;
    font-weight: bold;
  }
  .message {
    color: #fff;
  }
  .welcome__title {
    font-size: large;
    font-weight: bold;
    color: #fff;
  }
  .form__login {
    width: 50%;
    margin: 0px auto;
    background: #302f2f;
    padding: 20px;
    height: 300px;
    border-radius: 10px;
  }
  .form__group__login {
    margin-bottom: 20px;
  }
  .form__user{
    width: 70%;
    margin: 10px auto;
    background: #272c2d;
    padding: 20px;
    border-radius: 5px;
  }
  .form__group__login label{
    color:#fff;
    font-weight: bold;
  }
  
  .form__group__login input,
  .form__group__login textarea {
    width: 100%;
    background-color: #fff;
    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid #2122454c;
    border-radius: 5px;
  }
  
  .form__group__login input:focus,
  .form__group__login textarea:focus {
    outline: none;
  }
  
  .login__button {
    background-color: #fff;
   margin-top: 50px;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    font-weight: bold;
  }