.product__info {
    margin-left: 20px;
    background-color: rgb(218, 242, 243);
    border-radius: 15px;
    width: 800px;
}
.product__info p{
    font-size: 20px;
    margin-bottom: 20px;
}
.totalbill{
    font-size: 30px;
    font-weight: bold;
    color: rgb(234, 73, 76);
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}
