ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
}

li {
    display: flex;
    align-items: center;
    padding: 13px;
    cursor: pointer;
}

li:hover {
    background-color: #ece8ff;
}

.icon {
    font-size: 18px;
    color: #00b5d1;
}

span {
    font-size: 15px;
    font-weight: 600;
    color: #888;
    margin-left: 14px;
}
.status__content{
    background-color: rgb(243, 245, 247);
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .status__content p {
    margin: auto;
    font-weight: bold;
    
  }
  .status__tab-active{
    background-color: #efd8f0;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .status__tab-active p {
    margin: auto;
    font-weight: bold;
  }