ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
}

li {
    display: flex;
    align-items: center;
    padding: 13px;
    cursor: pointer;
}

li:hover {
    background-color: #ece8ff;
}

.icon {
    font-size: 18px;
    color: #00b5d1;
}

span {
    font-size: 15px;
    font-weight: 600;
    color: #888;
    margin-left: 14px;
}